



#login-page
  .container
    form.form-login(action='index.html')
      h2.form-login-heading
        | sign in now
      .login-wrap
        input.form-control(type='text', placeholder="User ID", autofocus)
        br
        input.form-control(type='pasword', placeholder="Password")
        label.checkbox
          span.pull-right
            a(data-toggle='modal', href="login.html#myModal")
              | Forgot Password?
        button.btn.btn-theme.btn-block(href="index.html", type='submit')
          i.fa.fa-lock
          | SIGN IN
        hr