{% from "_formhelpers.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <div id="overview" class="sixteen columns">
        <h3>Register</h3>
        <hr />
    </div>
    
    <div class="eight columns" id="col1">

    <form method=post action=" {{ url_for('register') }}">
        {{ form.csrf_token }}
        <ul>
            {{ render_field(form.username, placeholder="Username") }}
            {{ render_field(form.email, placeholder="Email") }}
            {{ render_field(form.password, placeholder="Password") }}
            {{ render_field(form.confirm, placeholder="Repeat Password") }}
        </ul>
        <p><input type=submit value=Register>
    </form>

    <p>Already have an account?
        <a href="{{ url_for('login') }}">Click here to log in.</a>
    </p>
</body>
</html>
