extends ./base.jade

block title
  title Home &#124; urlsaver.ua

block main
  .width-50
    h1 Contact page!
    hr

block nav
  a(href=url_for("login")) Login
  a(href=url_for("register")) Register
