extends ./base.jade

block title
  title Home page

block scripts
  script(src=url_for("static", filename="js/jquery.metisMenu.js"))
  script(src=url_for("static", filename="js/jquery.slimscroll.min.js"))

  link(href=url_for("static", filename="css/custom.css"), rel="stylesheet")
  script(src=url_for("static", filename="js/custom.js"))