extends ./base.jade

block title
  title Home page

block topmenu
  .top-menu
    ul.nav.pull-right.top-menu
      li
        a.logout(href=url_for("login"))
          | Login
      li
        a.logout(href=url_for("register"))
          | Register