extends ./base.jade

block title
  title Home page

block topmenu
  .top-menu
    ul.nav.pull-right.top-menu
      li
        a.logout(href=url_for("login"))
          | Login
      li
        a.logout(href=url_for("register"))
          | Register

block maincontent
  section#main-content
    section.wrapper.site-min-height
      h3
        i.fa.fa-angle-right
        | Home page !!!
      .row.mt
        .col-lg-12
          p 
            | Place your content here.