{% from "_formhelpers.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <div id="overview" class="sixteen columns">
        <h3>Log In</h3>
        <hr />
    </div>
    
    <div class="eight columns" id="col1">

    <form method="post" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <ul>
            {{ render_field(form.username, placeholder="Username") }}
            {{ render_field(form.password, placeholder="Password") }}
        </ul>
        <p><input id="formSubmit" type="submit" value="Login">
    </form>

    <p>Don't have an account?
        <a href="{{ url_for('register') }}">Click here to register.</a>
    </p>

    </div><!-- col1 -->
</body>
</html>
