<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URLS</title>
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <div id="overview" class="sixteen columns">
        <h3>List of saved URLs for {{ current_user.username }}</h3>
        <hr />
    </div>
    
    <div class="eight columns" id="col1">
    {% if urls %}
        {% for locator in urls %}
            {{ locator.url }}
            {{ locator.title }}
            {{ locator.groupname }}
            {{ locator.date }}
        {% endfor %}
    {% endif %}

    </div><!-- col1 -->
</body>
</html>
